* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --lightbgc: rgba(250, 255, 250, 1);
    --darkbgc: rgba(5, 0, 5, 1);
    overflow-x: hidden;
    background-color: var(--lightbgc);
    color: var(--darkbgc);
    max-width: 1600px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* MAIN FEATURES  */
h1 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Saira', sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
}

h1,
h2 {
    line-height: 20px;
    margin: 2px auto;
}

p {
    font-size: 16px;
    font-family: 'Saira', sans-serif;
    text-align: left;
    line-height: 150%;
    padding-bottom: 10px;
    margin: 10px 6px 20px 6px;
}

/* BURGER  */
.burger i {
    position: fixed;
    top: 2.5%;
    right: 6%;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.burger i.changeColor1 {
    color: var(--lightbgc);
    transform: rotate(360deg);
}

@media (min-width: 1024px) and (orientation: landscape) {
    .burger i {
        top: 1%;
        right: 2.5%;
        font-size: 36px;
    }
}

/* MENU */
aside.menu {
    position: fixed;
    background-color: var(--darkbgc);
    opacity: 0.8;
    top: 1.25%;
    right: -100vw;
    width: 95%;
    height: 60vh;
    z-index: 1;
    transition: 0.5s ease-in-out;
    border: 2px solid var(--lightbgc);
    border-radius: 10px;
}

nav {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a h1 {
    font-size: 18px;
    font-weight: 900;
    color: var(--lightbgc);
}

aside.show {
    right: 2.5%;
}

a {
    font-family: 'Saira', sans-serif;
    text-decoration: none;
}

@media (min-width: 360px) {
    a h1 {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    a h1 {
        font-size: 28px;
    }
}

@media (min-width: 1280px) and (orientation: landscape) {
    aside.menu {
        width: 90vw;
        height: 8vh;
    }

    nav {
        width: 90vw;
        height: 8vh;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    aside.show {
        right: 7.5%;
    }

    a {
        flex-basis: 15;
    }
}

/* MAIN FEATURES */
@media (min-width: 360px) and (orientation: portrait) {

    h1,
    h2 {
        font-size: 20px;
        line-height: 24px;
        margin: 2% auto;
    }

    p {
        margin: 10px 10px 20px 10px;
    }
}

@media (min-width: 768px) {

    h1,
    h2 {
        font-size: 28px;
        line-height: 32px;
    }

    p {
        font-size: 24px;
    }
}

@media (min-width: 1024px) {

    h1,
    h2 {
        font-size: 32px;
        line-height: 34px;
    }
}

@media (min-width: 1280px) {

    h1,
    h2 {
        font-size: 34px;
        line-height: 38px;
    }
}

@media (min-width: 1400px) {

    h1,
    h2 {
        font-size: 36px;
        line-height: 40px;
    }
}

/* HEADER  */

header {
    background-image: url(../img/narty6.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

header div.welcome {
    display: inline-block;
    position: absolute;
    bottom: 20%;
    background-color: rgba(249, 250, 232, 0.5);
    width: 100%;
}

header p {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: normal;
    line-height: 20px;
    margin: 2px auto;
    padding: 0;
}

@media (orientation: landscape) {
    header {
        background-image: url(../img/narty5.JPG);
    }
}

@media (min-width: 360px) and (orientation: portrait) {
    header p {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (min-width: 768px) {
    header p {
        font-size: 28px;
        line-height: 32px;
    }
}

@media (min-width: 1024px) {
    header p {
        font-size: 32px;
        line-height: 36px;
    }
}

@media (min-width: 1280px) {
    header p {
        font-size: 34px;
        line-height: 38px;
    }
}

@media (min-width: 1400px) {
    header p {
        font-size: 36px;
        line-height: 40px;
    }
}

/* ABOUT ME*/
.about {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 7%;
}

.about h1 {
    margin: 10px 35%;
}

.about h2 {
    margin-top: 15px;
}

.about p {
    margin: 10px 6px 20px 6px;
}

@media (min-width: 360px) {
    .about {
        margin-top: 30px;
    }

    .about h1 {
        margin: 10px 35%;
        padding: 0 6px;
    }
}

@media (min-width: 768px) {
    .about {
        margin-top: 30px;
    }

    .about h1 {
        margin: 10px 35%;
    }

    .about p {
        padding-bottom: 10px;
    }
}

/* INSTALACJE  */
.instalations {
    margin-bottom: 30px;
    padding: 0 7%;
    transform: translateX(-100vw);
}

.instalations h1 {
    margin: 10px 12%;
}

.instalations h2 {
    margin: 15px;
}

.instalations img {
    margin: 5% auto;
    width: 70%;
    padding: 10px;
    max-width: 320px;
    display: block;
}

@media (orientation: landscape) {
    .instalations img {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .hvac {
        float: left;
        width: 33%;
        padding: 0 20px;
    }

    .last p {
        float: none;
        width: 100%;
        margin-top: 20px;
        display: inline-block;
    }
}

/*programy do projektowwania*/

.features {
    margin-bottom: 30px;
    padding: 0 7%;
}

.features h1 {
    margin: 10px auto;
}

.feature img {
    margin: 5% auto;
    width: 70%;
    padding: 10px;
    max-width: 320px;
    display: block;
}

@media (orientation: landscape) {
    .feature img {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .features .wrap {
        position: relative;
    }

    .feature {
        float: left;
        width: 33%;
        padding: 0 20px;
    }
}

/*WEBDEVELOPER*/

.webdesign {
    margin-bottom: 30px;
    padding: 0 7%;
}

.webdesign h1 {
    margin: 10px 17%;
}

.web img {
    margin: 5% auto;
    width: 70%;
    padding: 10px;
    max-width: 320px;
    display: block;
}

.web {
    transition: 0.2 ease-in-out;
}

.web-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;

}

.web:active {
    transform: scale(0.95);
}

@media (orientation: landscape) {
    .web img {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .web-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .web-wrap {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*SLOGAN*/
.slogan {
    background-image: url(../img/bieszczady.JPG);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

.slogan h1,
.slogam h2,
.slogan p {
    color: var(--lightbgc);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.slogan h1 {
    padding-top: 5px;
}

.slogan p {
    margin: 5px auto;
    padding: 0;
    text-shadow: 0 0 4px black;
    text-align: center;
}

.text span {
    font-weight: 600;
}

.slogan .bg {
    background-color: rgb(12, 36, 25, 0.35);
    min-height: 70vh;
    padding-top: 5%;
    padding-bottom: 3%;
}

@media (orientation: landscape) and (min-width: 360px) {
    .slogan .bg {
        min-height: 50vh;
        padding-top: 5%;
        padding-bottom: 3%;
    }
}

@media (orientation: portrait) and (min-width: 360px) {
    .slogan .bg {
        padding-top: 10%;
    }

    .slogan p {
        font-size: 20px;
    }
}

@media (min-width: 640px) {
    .slogan .bg {
        min-height: 70vh;
        padding-top: 5%;
        min-height: 40vh;
    }
}

@media (min-width: 768px) {
    .slogan .bg {
        padding-top: 10%;
        padding-bottom: 5%;
        min-height: 50vh;
    }

    .slogan p {
        font-size: 24px;
        padding: 3px 0;
    }
}

@media (min-width: 1024px) {
    .slogan .bg {
        padding-top: 10%;
        padding-bottom: 5%;
        min-height: 40vh;
    }

    .slogan h1,
    .slogam h2,
    .slogan p {
        width: 65%;
    }

    .slogan p {
        font-size: 24px;
        padding: 5px 0;
    }
}

/*HOBBY*/
.hobby {
    margin-bottom: 15px;
}

.hobby h1 {
    margin: 10px 26%;
}

.hobby h2 {
    margin: 15px 25px;
}

.hobby .item {
    /* display: block; */
    height: 25vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
}

.hobby .item:nth-of-type(1) {
    background-image: url(../img/narty2.jpg);
}

.hobby .item:nth-of-type(2) {
    background-image: url(../img/crossfit.jpg);
}

.hobby .item:nth-of-type(3) {
    background-image: url(../img/run.jpg);
}

.hobby .item:nth-of-type(4) {
    background-image: url(../img/Liverpool.jpg);
}

.hobby .item:nth-of-type(5) {
    background-image: url(../img/naples3.jpg);
}

.hobby .item:nth-of-type(6) {
    background-image: url(../img/SW.png);
}

.item p {
    margin: 0 auto;
    color: var(--lightbgc);
    text-transform: uppercase;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 25vh;
    padding: 0;
}

@media (min-width: 533px) {
    .hobby .item {
        float: left;
        width: 50%;
        height: 40vh;
    }

    .item p {
        line-height: 40vh;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .hobby .item {
        float: none;
        width: 100%;
        height: 25vh;
    }

    .item p {
        line-height: 25vh;
    }
}

@media (min-width: 1024px) {
    .hobby .item p {
        font-size: 24px;
        font-weight: bold;
        opacity: 0;
        transition: 1s;
        cursor: default;
    }

    .hobby .item:hover p {
        opacity: 1;
    }

    .hobby .item {
        background-size: 100%;
        transition: 1s;
    }

    .hobby .item:hover {
        background-size: 130%;
    }
}

/* CIASTECZKA - MODAL */
.cookie {
    display: none;
    position: fixed;
    bottom: 0;
    background-color: var(--lightbgc);
    border: 2px solid var(--darkbgc);
    border-radius: 10px;
    width: 100vw;
    height: 40vh;
    z-index: 3;
}

.cookie img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    /* top: 50%;
    left: 50%;
    transform: translateX(50%) */
}

/* STÓPKA */
footer {
    background-color: var(--darkbgc);
    color: var(--lightbgc);
    font-family: 'saira', sans-serif;
    font-size: 12px;
    min-height: 60px;
    line-height: 100%;
}

@media (min-width: 640px) {
    footer {
        font-size: 16px;
        min-height: 60px;
        line-height: 100%;
    }
}

@media (min-width: 640px) {
    footer {
        font-size: 16px;
        min-height: 60px;
        line-height: 100%;
    }
}

@media (min-width: 1024px) {
    footer {
        font-size: 20px;
        min-height: 60px;
        line-height: 100%;
    }
}

/* style do pojawiajacych sie elementow */
.about,
.features {
    transform: translateX(-100vw);
}

.instalations,
.webdesign {
    transform: translateX(-100vw);
}

.about.active2,
.features.active2 {
    transform: translateX(0);
}

.instalations.active2,
.webdesign.active2 {
    transform: translateX(0);
}

.about,
.features,
.instalations,
.webdesign {
    transition: 0.4s linear;
}

.slogan,
.hobby {
    transition: 1s linear;
    transform: scale(0);
}

.slogan.active2,
.hobby.active2 {
    transform: scale(1);
}