* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    --lightbgc: rgba(250, 255, 250, 1);
    --darkbgc: #212121;
    --thirdc: #5cdaff;
    overflow-x: hidden;
    background-color: var(--lightbgc);
    color: var(--darkbgc);
    max-width: 1600px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both
}


/* BURGER  */
.burger i {
    position: fixed;
    top: 2.5%;
    right: 6%;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
    color: var(--thirdc)
}

.burger i.changeColor1 {
    transform: rotate(360deg);
}

@media (orientation: landscape) {
    .burger i {
        top: 2.5%;
        right: 2.5%;
        font-size: 24px;
    }
}

@media (min-width: 1025px) {
    .burger i {
        display: none;
    }
}

/* MENU */
aside.menu {
    position: fixed;
    background-color: var(--darkbgc);
    opacity: 0.8;
    top: 1.25%;
    right: -100vw;
    width: 95%;
    z-index: 1;
    transition: 0.5s ease-in-out;
    border: 2px solid var(--lightbgc);
    border-radius: 10px;
}

.home-page {
    display: none
}

nav {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a h1 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5;
    color: var(--lightbgc);
}

aside.show {
    right: 2.5%;
}

a {
    font-family: 'Saira', sans-serif;
    text-decoration: none;
}

@media (min-width: 360px) {
    a h1 {
        font-size: 20px;
    }
}

@media (orientation: landscape) {

    aside.menu {
        top: 2.5%;
        right: -100vw;
        width: 60%;
    }

    aside.show {
        right: 20%;
    }
}

@media (min-width: 768px) {
    a h1 {
        font-size: 24px;
    }

    aside.menu {
        top: 2.5%;
        right: -100vw;
        width: 60%;
    }

    aside.show {
        right: 20%;
    }

}

@media (min-width: 1024px) and (orientation: landscape) {
    .home-page {
        display: block;
        position: fixed;
        left: 5vh;
    }

    aside.menu {
        width: 100vw;
        height: 50px;
        right: 0;
        top: 0;
        background-color: var(--darkbgc);
        opacity: 1;
        z-index: 1;
        border: none;
        border-radius: 0;
    }

    nav {
        position: fixed;
        right: 0;
        margin: 0;
        padding-right: 15px;
        width: 75vw;
        height: 50px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
    }

}


/* MAIN FEATURES */
section {
    padding: 30px 20px 30px 20px;
}

section:nth-of-type(odd) {
    background-color: var(--lightbgc);
    color: var(--darkbgc);
}

section:nth-of-type(even) {
    background-color: var(--darkbgc);
    color: var(--lightbgc);
}

section:nth-of-type(even) h1 {
    color: var(--thirdc);
}

h1 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Saira', sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
}

h1,
h2 {
    line-height: 20px;
    margin: 2px auto;
}

p {
    font-size: 16px;
    font-family: 'Saira', sans-serif;
    text-align: left;
    line-height: 150%;
    padding: 10px 10px;
}

@media (min-width: 360px) and (orientation: portrait) {

    h1,
    h2 {
        font-size: 20px;
        line-height: 24px;
        margin: 2% auto;
    }

}

@media (min-width: 768px) {

    section {
        padding: 40px 5% 30px 5%;
    }

    h1,
    h2 {
        font-size: 28px;
        line-height: 32px;
    }

    p {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {

    section {
        padding: 40px 5% 30px 5%;
    }

    h1,
    h2 {
        font-size: 32px;
        line-height: 34px;
    }
}

@media (min-width: 1280px) {

    h1,
    h2 {
        font-size: 34px;
        line-height: 38px;
    }
}

@media (min-width: 1400px) {

    h1,
    h2 {
        font-size: 36px;
        line-height: 40px;
    }
}

/* HEADER  */

header {
    background-image: url(../img/narty6.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header div.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background-color: rgba(33, 33, 33, 0.5);
    width: 100%;
    right: -20%;
    top: 27%;
    animation: text 2s linear;
    animation-iteration-count: inherit;
    overflow-x: hidden;
}

@keyframes text {
    0% {
        opacity: 0;
        top: 20%
    }

    20% {
        opacity: 0.5;
        top: 21.4%
    }

    40% {
        opacity: 1;
        top: 22.8%
    }

    100% {
        top: 27%
    }
}

header h1,
header h2 {
    color: var(--lightbgc);
    text-align: left;
    padding: 0 10px;
    margin: 0;
    text-shadow: 0 0 4px var(--darkbgc);
}

@media (orientation: landscape) {
    header {
        background-image: url(../img/narty5.JPG);
    }

    header div.welcome {
        width: 50%;
        height: 100px;
        right: 0;
        top: 45%;
        animation: text 2s linear;
        animation-iteration-count: inherit;
        overflow-x: hidden;
        opacity: 1;
    }

    @keyframes text {
        0% {

            right: -60%;
            opacity: 0;
        }


        20% {
            /* opacity: 0.25; */
            right: -48%
        }

        40% {
            /* opacity: 0.5; */
            right: -36%
        }

        60% {

            right: -24%;
            opacity: 0.5;
        }

        80% {

            right: -12%;
            opacity: 0.75;
        }

        100% {
            right: 0;
            opacity: 1
        }
    }

}

@media (min-width: 1024px) and (orientation: landscape) {

    header h1,
    header h2 {
        padding-left: 10px;
        font-size: 32px;
        letter-spacing: 1.5;
        text-shadow: 0 0 4px var(--darkbgc);

    }

    header div.welcome {
        width: 40%;
        height: 160px;
    }

    @keyframes text {
        0% {
            right: -60%;
            opacity: 0;
        }

        20% {
            right: -48%
        }

        40% {
            right: -36%
        }

        60% {
            right: -24%;
            opacity: 0.35;
        }

        80% {

            right: -12%;
            opacity: 0.6;
        }

        100% {
            right: 0;
            opacity: 1
        }
    }

}

@media (min-width: 1280px) {
    header {
        background-position: 0 25%;
    }
}

/* ABOUT ME*/

.about h1 {
    margin: 10px 35%;
}

.about h2 {
    margin-top: 15px;
}

.portrait {
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border-radius: 2%;
}

@media (min-width: 360px) {

    .about h1 {
        margin: 10px 35%;
        padding: 0 6px;
    }
}

@media (min-width: 768px) {


    .about h1 {
        margin: 10px 35%;
    }
}


@media (min-width: 1024px) {
    .about h1 {
        padding-bottom: 30px;
    }

    .about-portrait {
        float: left;
    }

    .portrait {
        width: 400px;
        height: auto;
        padding-right: 40px;
    }

    .about-text {
        width: 100%;
    }
}

/* INSTALATIONS  */
.instalations {
    transform: translateX(-100vw);
}

.instalations h1 {
    margin: 10px 12%;
}

.instalations h2 {
    margin: 15px;
}

.hvac-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hvac {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instalations img {
    width: 30%;
    max-width: 320px;
    display: block;
}



@media (min-width: 1024px) {
    .hvac-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .hvac {
        width: 30%;

    }
}

/*HVAC PROGRAMS*/


.features h1 {
    margin: 10px auto;
}

.feature img {
    margin: 5% auto;
    width: 30%;
    padding: 10px;
    max-width: 320px;
    display: block;
}

.features-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (orientation: landscape) {
    .feature img {
        width: 30%;
    }
}

@media (min-width: 1024px) {
    .features-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .feature {
        width: 33%;
        padding: 0 20px;
    }
}

/*WEBDEVELOPER*/
.webdesign h1 {
    margin: 10px 17%;
}

.web img {
    margin: 5% auto;
    width: 70%;
    padding: 10px;
    max-width: 320px;
    display: block;
    justify-self: start
}

.web {
    transition: 0.2 ease-in-out;
    align-self: end;
    justify-self: start
}

.web-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}

.web:active {
    transform: scale(0.95);
}

.web img:last-of-type {
    width: 30%;
    padding: 10px;
}


@media (orientation: landscape) {
    .web img {
        width: 40%;
    }

    .web-wrap {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media (min-width: 1024px) {
    .web-wrap {
        grid-template-columns: repeat(4, 1fr);
    }
}

/*SLOGAN*/
.slogan {
    background-image: url(../img/slogan.JPG);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}

.slogan h1,
.slogam h2,
.slogan p {
    color: var(--lightbgc);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.slogan h1 {
    padding-top: 5px;
}

.slogan p {
    margin: 5px auto;
    padding: 0;
    text-shadow: 0 0 4px black;
    text-align: center;
}

.text span {
    font-weight: 600;
}

.slogan .bg {
    background-color: rgb(12, 36, 25, 0.35);
    min-height: 70vh;
    padding-top: 5%;
    padding-bottom: 3%;
}

@media (orientation: landscape) and (min-width: 360px) {
    .slogan .bg {
        min-height: 50vh;
        padding-top: 5%;
        padding-bottom: 3%;
    }
}

@media (orientation: portrait) and (min-width: 360px) {
    .slogan .bg {
        padding-top: 10%;
    }

    .slogan p {
        font-size: 20px;
    }
}

@media (min-width: 640px) {
    .slogan .bg {
        min-height: 70vh;
        padding-top: 5%;
        min-height: 40vh;
    }
}

@media (min-width: 768px) {
    .slogan .bg {
        padding-top: 10%;
        padding-bottom: 5%;
        min-height: 50vh;
    }

    .slogan p {
        font-size: 24px;
        padding: 3px 0;
    }
}

@media (min-width: 1024px) {
    .slogan .bg {
        padding-top: 10%;
        padding-bottom: 5%;
        min-height: 40vh;
    }

    .slogan h1,
    .slogam h2,
    .slogan p {
        width: 65%;
    }

    .slogan p {
        font-size: 24px;
        padding: 5px 0;
    }
}

/*HOBBY*/

.hobby {
    padding: 30px 0 0 0;
}

.hobby-wrap {
    display: flex;
    flex-direction: column;
}

.hobby h1 {
    margin: 10px 26%;
}

.hobby h2 {
    margin: 15px 25px;
}

.hobby .item {
    height: 25vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
}

.hobby .item:nth-of-type(1) {
    background-image: url(../img/narty2.jpg);
}

.hobby .item:nth-of-type(2) {
    background-image: url(../img/crossfit.jpg);
}

.hobby .item:nth-of-type(3) {
    background-image: url(../img/run.jpg);
}

.hobby .item:nth-of-type(4) {
    background-image: url(../img/Liverpool.jpg);
}

.hobby .item:nth-of-type(5) {
    background-image: url(../img/naples3.jpg);
}

.hobby .item:nth-of-type(6) {
    background-image: url(../img/SW.png);
}

.item p {
    margin: 0 auto;
    color: var(--lightbgc);
    text-transform: uppercase;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 25vh;
    padding: 0;
}

@media (min-width: 533px) {
    .hobby-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hobby .item {
        width: 50%;
        height: 40vh;
    }

    .item p {
        line-height: 40vh;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .hobby .item {

        width: 100%;
        height: 25vh;
    }

    .item p {
        line-height: 25vh;
    }
}

@media (min-width: 1024px) {
    .hobby-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hobby .item p {
        font-size: 24px;
        font-weight: bold;
        opacity: 0;
        transition: 1s;
        cursor: default;
    }

    .hobby .item:hover p {
        opacity: 1;
    }

    .hobby .item {
        background-size: 100%;
        transition: 1s;
    }

    .hobby .item:hover {
        background-size: 130%;
    }
}

/* CONTACT SECTION */

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    background-color: var(--lightbgc);
}

label,
input,
textarea {
    font-family: 'Saira', sans-serif;
    background-color: var(--lightbgc);
    padding: 5px 0;
    width: 100%;
}

input,
textarea {
    border: 1px solid var(--darkbgc);
    border-radius: 2px;
}

.submit {

    width: 25%;
    margin: 20px auto;
    padding: 10px auto;

}

h2 {
    padding-top: 15px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px auto;
}


.contact a {
    cursor: pointer;
    color: var(--darkbgc);
    margin: 0 auto;
}

.phone {
    cursor: pointer;
    padding: 0;
    margin: 0 auto
}

@media (orientation: landscape) {
    form {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    form {
        width: 50%;
    }

    .submit {
        width: 10%;
    }

    .contact-section {
        margin: 32px auto
    }

    .contact {
        margin: 24px
    }
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkbgc);
    color: var(--lightbgc);
    font-family: 'saira', sans-serif;
    font-size: 12px;
    height: 20px;
    text-align: center;
}

@media (min-width: 640px) {
    footer {
        font-size: 16px;
        height: 24px;
    }
}

@media (min-width: 1024px) {
    footer {
        font-size: 20px;
        height: 28px;
    }
}

/* style do pojawiajacych sie elementow */
.about,
.features {
    transform: translateX(-100vw);
}

.instalations,
.webdesign {
    transform: translateX(-100vw);
}

.about.active2,
.features.active2 {
    transform: translateX(0);
}

.instalations.active2,
.webdesign.active2 {
    transform: translateX(0);
}

.about,
.features,
.instalations,
.webdesign {
    transition: 0.4s ease-in-out;
}

.slogan,
.hobby {
    transition: 1s ease-in-out;
    transform: scale(0);
}

.slogan.active2,
.hobby.active2 {
    transform: scale(1);
}